*{
  margin: 0;
  padding:0;
  background-color: rgb(194, 245, 228);
}
#wrapper {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
background-color: antiquewhite;
}
button {
  border-radius: 15px;
  background-color: silver;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}